{% extends 'matchapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    #grad {
        background-image: linear-gradient(to left, #EBD6E4, #C180A2);
    }
</style>

<div id='grad' class=tc_wrapper>

    <h1>Summary of Terms</h1><br>

    <hr>

    <p>You must read and agree to our Terms of Use (the “Agreement”) because it forms the binding contract between you
        and MatchApp. However, we’ve provided this short summary for your convenience (with capitalized terms defined
        in the Agreement).</p>

    <hr>
    <b>Age.</b>
    <p> I confirm I am 16 years old or above. <p>

            <b>Acceptance.</b>
            <p>By using the Service, you agree to this Agreement, our Privacy Policy and Safety Tips, and any terms
                that apply to in app purchase you make.</p>

            <b>Eligibility.</b>
            <p>You must be at least 18 to use the Service and not prohibited by law from using the Service. You promise
                to follow the law and that you’re not a convicted felon or sex offender.</p>

            <b>Your Account.</b>
            <p>If you use Facebook to access MatchApp, you must authorize us to access certain information from
                Facebook to use MatchApp. You agree to keep your account secure and confidential.</p>

            <b>Modifying the Services.</b>
            <p>We may modify the Services at any time or discontinue them altogether. You can terminate your account in
                Settings, and we reserve the right to terminate it for you if you violate this Agreement or if we deem
                your use of the Service to be inappropriate.</p>

            <b>Safety.</b>
            <p>MatchApp is not responsible for the actions of its users or your interactions with them, and we don’t
                conduct background checks. Be careful and be sure to read and follow our Safety Tips on interacting
                with people on or off of MatchApp.</p>

            <b>Rights.</b>
            <p>MatchApp grants you the right to use our Service as authorized and permitted by this Agreement. See the
                Agreement for a full list of actions you agree not to take. You grant MatchApp the right to display
                your profile and Content for the limited purpose of MatchApp operating the Service and researching and
                developing new ones.</p>

            <b>Rules.</b>
            <p>See the Agreement for a list of the rules you agree to abide by when you use MatchApp, such as not
                soliciting money from other users, harassing other users or using the Service for any illegal purposes.</p>

            <b>Copyright.</b>
            <p>If you believe your work has been posted on the Service in violation of your copyright, please send a
                notice to our Copyright Agent following instructions in the Agreement.</p>

            <b>Disclaimers.</b>
            <p>Our Service is provided “as is,” and we disclaim legal liability for the quality, safety, or reliability
                of our Service.</p>

            <b>Limitation of Liability.</b>
            <p>To the extent allowed by law, we limit our liability to you for certain types of damages for claims
                relating to your use of the Service, the conduct of other users and unauthorized access or use of your
                Content. Our aggregate liability will not exceed the fees you pay us.</p>

</div>
{% endblock %}